
<html>


    <div style="border: 5px solid black;width: 90%;margin: auto;padding: 15px;">
    
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image1}}'>
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image2}}'>
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image3}}'>
    </div>
    <div style="text-align: center;font-weight: bold;">
        <p>
          Product Name:   {{ product.product_name}}
        </p>
        <p>
            Price: {{ product.product_price}} LE
        </p>
        <p>
            Brand: {{ product.product_brand}}
        </p>
    </div>

            </html>