<!DOCTYPE html>
<html>
    <p style="font-size: 30px;">
   ALL Products List
</p>

<ul>
    <li><a  href="/">Home</a></li>
    <li><a href="products/">Products</a></li>
    <li>
      <form action="/search" method="POST"> {% csrf_token %}
        <input class="form" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn " type="submit">Search</button>
      </form>
    </li>
    <!-- <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li> -->
  </ul>
  
<body>
    {% for pitem in products %}
    <div style="border: 5px solid black;width: 90%;margin: auto;padding: 15px;">
    
    <img style='width:30%;' src='{{ MEDIA_URL }}{{ pitem.image1}}'>
    <img style='width:30%;' src='{{ MEDIA_URL }}{{ pitem.image2}}'>
    <img style='width:30%;' src='{{ MEDIA_URL }}{{ pitem.image3}}'>
</div>
<div style="font-size: 30px;text-align: center;">
    <p > Prodct name: {{pitem.product_name }}</p>
    <p> Brand: {{pitem.product_brand}}</p>
    <p> Price: {{pitem.product_price}} LE</p>
    {%endfor%}
</div>
</body>    
</html>