
<html>

<style>
     .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.checked {
  color: orange;
}
</style>
    <div style="border: 5px solid black;width: 90%;margin: auto;padding: 15px;">
    
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image1}}'>
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image2}}'>
        <img style='width:30%;' src='{{ MEDIA_URL }}{{ product.image3}}'>
    </div>
    <div style="text-align: center;font-weight: bold;">
        <p>
          Product Name:   {{ product.product_name}}
        </p>
        <p>
            Price: {{ product.product_price}} LE
        </p>
        <p>
            Brand: {{ product.product_brand}}
        </p>
    </div>
    
    <div class="card">
        <p><button>Add to Cart</button></p>
        <a href="{{product.product_name}}">Add to Cart</a>
      </div> 
    </html>